.default {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
}

.content {
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 1;
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--color-primary-25);
    box-shadow: 5px 5px 5px var(--color-transparent);
    border-radius: 10px;
    padding: 0 15px 15px 15px;
}

.option-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}

.option {
    cursor: pointer;
}

.preview {
    cursor: pointer;
}

.title {
    color: var(--color-black);
    margin: 1rem;
}

.line-wrapper {
    height: 30px;
    width: 30px;
    display: flex;
}
.line {
    margin: auto;
    width: 80%;
    background-color: var(--color-black);
}
