.default {
    height: 100%;
    background-color: var(--color-gray-20);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.show-detail {
    width: 30%;
    transition: 0.5s;
}

.hidden-detail {
    width: 60px;
    transition: 0.5s;
}

.details {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.icon-big {
    width: 50px;
    height: 50px;
    margin: 10px 0px;
}

.line {
    border-bottom: 4px dotted var(--color-gray-80);
    height: 0px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 10px;
}

.item {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.item-hidden {
    width: 50px;
    transition-delay: 0.5s;
}

.item-selected {
    background-color: var(--color-gray-40);
}

.item-text {
    height: 30px;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    color: var(--color-gray-80);
}

.item-text-selected {
    font-weight: bold;
    color: var(--color-black);
}
