.default {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 150px;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    background-color: var(--color-primary-25);
    box-shadow: 5px 5px 5px var(--color-transparent);
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px;
}

.option {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 16px;
    margin: 20px 0;
    width: 100%;
}

.clear {
    display: flex;
    width: 100%;
    margin: 15px 0 0 22px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: var(--color-error);
}

.radio-text {
    margin-left: 6px;
    font-size: 16px;
}
.radio {
    margin: auto 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid var(--color-gray-25);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.radio:checked {
    background-color: var(--color-primary-100);
    border: 3px solid var(--color-white);
    box-shadow: 0 0 0 1.6px var(--color-primary-100);
}
