.default {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 250px;
    width: 80%;
    padding: 20px;
    border: 1px solid var(--color-black);
    border-radius: 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    font-size: 16px;

    :nth-child(2) {
        max-width: 170px;
        color: var(--color-gray-60);
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.line {
    height: 0px;
    width: 100%;
    margin: 10px auto;
    border-bottom: 1px solid var(--color-gray-60);
}

.withdraw {
    margin-top: 10px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: var(--color-error);
}
