.default {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 200px;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: flex-start;

    padding: 5px 10px;
    border-left: 2px solid var(--color-gray-60);
    border-right: 2px solid var(--color-gray-60);
    column-gap: 10px;

    overflow: scroll;
    -ms-overflow-style: none; /* internet explorer */
    scrollbar-width: none; /* firefox */
}

.content::-webkit-scrollbar {
    display: none; /* chrome, safari, opera, edge */
}

.move {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.resize {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.option {
    border: 1px solid var(--color-black);
    background-color: var(--color-neutral-50);
    color: var(--color-primary-100);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.small {
    width: 14px;
    height: 14px;
}

.large {
    width: 20px;
    height: 20px;
}

.disabled {
    fill: var(--color-transparent);
}
