.default {
    background-color: var(--color-neutral-75);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.config {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1 auto;
    margin: 0 20px;
    gap: 20px;
}

.command {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    button {
        width: 75px;
        height: 80%;
        font-size: 12px;
        line-height: 12px;
        border: none;
        text-align: center;
    }

    button:hover {
        font-weight: bold;
        border: none;
    }
}

.explorer-button {
    font-size: 10px;
    width: 140px;
    color: var(--color-text-black);
    border: 1px solid var(--color-black);
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
}
