.cursor {
    position: absolute;
    z-index: 100;
    cursor: none;
    pointer-events: none;
}

.icon {
    width: 20px;
    height: 20px;
}

.pen {
    transform: translate(0%, -100%);
}

.move {
    transform: translate(-50%, -50%);
}

.grab {
    transform: translate(-50%, -50%);
}

.eraser {
    transform: translate(-30%, -70%);
}

.edit {
    transform: translate(-50%, -50%);
}

.add {
    transform: translate(-50%, -50%);
}
