.default {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
}

.workspace {
    display: flex;
    flex-direction: row;
    height: 100%;
}
