.defualt {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo {
    width: calc(30%);
    margin-bottom: 12px;
}
.slogan {
    margin: 10px 0 20px 0;
    font-size: 18px;
    color: var(--color-gray-80);
}
.icon {
    width: 24px;
    height: 24px;
    padding: 12px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 400px;
    gap: 12px;
    text-align: center;
}

.login-button {
    width: 100%;
    border-radius: 12px;
    padding: 4px 12px 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    span {
        text-align: center;
        flex: 1 1;
        color: var(--color-black);
    }
}

.google {
    box-shadow: 1px 1px 1px var(--color-transparent);
    background-color: #ffffff;
}

.kakao {
    background-color: #fee500;
}

.empty {
    width: 36px;
    height: 36px;
}

.login-pass {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 8px;
    padding: 6px;
    background-color: var(--color-gray-20);
    border: 1px solid var(--color-gray-20);
    label {
        padding-left: 4px;
        font-size: 10px;
    }

    input {
        border: none;
        height: 16px;
        font-size: 14px;
        background-color: #00000000;
    }

    input:focus {
        border: none;
        outline: none;
    }
}

.form-input:hover {
    border: 1px solid black;
}

.login-button-pass {
    height: 48px;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.option {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 6px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.login-error {
    font-size: 10px;
    color: var(--color-error);
    font-weight: bold;
}
