.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.description {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.035em;
    align-items: center;
    margin-bottom: 20px;
    color: var(--color-pallette-secondary-75);
}

.back {
    color: var(--color-pallette-primary-100);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
    cursor: pointer;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 90%;
    max-width: 350px;
    text-align: left;
    gap: 10px;
    span:nth-child(1) {
        align-self: flex-start;
        font-size: 14px;
        font-weight: bold;
        width: 100px;
        color: var(--color-pallette-secondary-25);
    }

    input {
        all: unset;
        box-sizing: border-box;
        box-shadow: none;
        border: 1px solid var(--color-gray-80);
        border-radius: 12px;
        /* ios  */
        cursor: default;
        width: 114.2%;
        transform: scale(0.875);
        height: 63.9px;
        padding: 0 18.272px;
        font-size: 16px;
    }
}

.button {
    all: unset;
    margin-top: 20px;
    max-width: 300px;
    padding: 7px 8px;
    gap: 8px;
    width: 90%;
    height: 50px;
    font-size: 26px;
    line-height: 26px;
    background-color: black;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 48px;
    color: white;
    border: none;
    cursor: pointer;
}

.invalid-password {
    text-align: left;
    color: red;
}
