.default {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.default-empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.empty {
    font-weight: bold;
    color: var(--color-black);
}

.description-empty {
    color: var(--color-gray-60);
}

.trashs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    min-width: 250px;
    padding: 20px;
    border: 1px solid var(--color-black);
    border-radius: 20px;
}

.trash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
}
